MONITOR ups@127.0.0.1 1 monuser CHANGEME master
SHUTDOWNCMD "/sbin/poweroff"
POWERDOWNFLAG /etc/nut/no_killpower
NOTIFYMSG SHUTDOWN "WARNING: SYSTEM BEING SHUTDOWN NOW"
NOTIFYFLAG ONBATT SYSLOG+EXEC
NOTIFYFLAG ONLINE SYSLOG+EXEC
NOTIFYCMD "/usr/sbin/nut-notify"
